default:
  image: python:3.10
  cache:
    paths:
      - ${CI_PROJECT_DIR}/.cache/pip
  before_script: &default_before_script
    - pip install --quiet -r requirements.txt

variables:
  PACKAGE_NAME: qmllint_codequality
  CONFIG_FILE: ${CI_PROJECT_DIR}/pyproject.toml
  RUN_LINT: "false"
  RUN_TESTS: "false"
  RUN_BUILD: "false"

stages:
  - Static analysis
  - Formatting
  - Build
  - Test

workflow:
  name: "$PROJECT1_PIPELINE_NAME"
  rules:
    # If is a manual pipeline trigger
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        RUN_LINT: "true"
        RUN_TESTS: "true"
        RUN_BUILD: "true"
    # If is a linked to a MR marked as "Draft"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /-Draft$/
      variables:
        RUN_LINT: "false"
        RUN_TESTS: "true"
        RUN_BUILD: "false"
    # If is a linked to a MR (marked as not "Draft")
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /-Draft$/
      variables:
        RUN_LINT: "true"
        RUN_TESTS: "true"
        RUN_BUILD: "false"

.lint:
  allow_failure: true
  variables:
    JSON_REPORT_DIR: ${CI_PROJECT_DIR}/reports
  before_script: &lint_before_script
    - *default_before_script
    - mkdir -p ${JSON_REPORT_DIR}
  rules:
    - if: RUN_LINT == "true"

pylint:
  extends: .lint
  stage: Static analysis
  variables:
    PYLINT_JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-pylint-report.json
  before_script:
    - *lint_before_script
    - pip install --quiet pylint-gitlab
  script:
    - pylint --rcfile=${CONFIG_FILE} --load-plugins=pylint_gitlab --output-format=gitlab-codeclimate --score=y ${PACKAGE_NAME} > ${PYLINT_JSON_REPORT}
  artifacts:
    when: always
    paths:
      - ${PYLINT_JSON_REPORT}
    expire_in: 1 hour

mypy:
  extends: .lint
  stage: Static analysis
  variables:
    MYPY_TMP_FILE: mypy-output-tmp.txt
    MYPY_JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-mypy-report.json
  before_script:
    - *lint_before_script
    - pip install --quiet mypy-gitlab-code-quality
  script:
    - mypy --config-file ${CONFIG_FILE} --package ${PACKAGE_NAME} > ${MYPY_TMP_FILE}
  after_script:
    - mypy-gitlab-code-quality < ${MYPY_TMP_FILE} > ${MYPY_JSON_REPORT}
  artifacts:
    when: always
    paths:
      - ${MYPY_JSON_REPORT}
    expire_in: 1 hour

analysis merge:
  extends: .lint
  stage: Static analysis
  allow_failure: false
  image: alpine:latest
  needs:
    - pylint
    - mypy
  variables:
    JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-report.json
    JSON_REPORT_TMP: gl-codequality-report-tmp.json
  before_script:
    - apk add jq
    - touch ${JSON_REPORT}
    - touch ${JSON_REPORT_TMP}
  script:
    - |+
      for json in ${JSON_REPORT_DIR}/*.json
      do
        jq -c '.[]' ${json} >> ${JSON_REPORT_TMP}
      done
    - jq -s '.' ${JSON_REPORT_TMP} > ${JSON_REPORT}
  artifacts:
    when: always
    reports:
      codequality:
        - ${JSON_REPORT}

black:
  extends: .lint
  stage: Formatting
  script:
    - black --verbose --config ${CONFIG_FILE} --check ${PACKAGE_NAME}

isort:
  extends: .lint
  stage: Formatting
  script:
    - isort --settings-path ${CONFIG_FILE} --verbose --check ${PACKAGE_NAME}

build:
  stage: Build
  rules:
    - if: $RUN_BUILD == "true"
  script:
    - python -m build
  artifacts:
    expire_in: "7 days"
    paths:
      - dist/
      - ${PACKAGE_NAME}.egg-info

pytest:
  stage: Test
  rules:
    - if: $RUN_TESTS == "true"
  script:
    - pytest --config-file=pyproject.toml --junitxml=report.xml
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: reports/coverage/coverage.xml
