variables:
  DOCKER_IMAGE_NAME: ${CI_REGISTRY_IMAGE}
  DOCKER_IMAGE_TAG: latest
  PACKAGE_NAME: qmllint_codequality
  CONFIG_FILE: ${CI_PROJECT_DIR}/pyproject.toml
  PACKAGE_PATH: ${CI_PROJECT_DIR}/package
  PIPELINE_NAME: ${PACKAGE_NAME}'s pipeline
  RUN_TESTS: false
  RUN_FORMAT: false
  RUN_LINT: false
  RUN_BUILD: false

stages:
  - docker-build
  - unit-test
  - lint
  - formatting
  - build
  - integration-test

workflow:
  name: $PIPELINE_NAME
  rules:
    # If is a manual pipeline trigger
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        RUN_TESTS: true
        RUN_LINT: true
        RUN_FORMAT: true
        RUN_BUILD: true
        PIPELINE_NAME: "${PACKAGE_NAME}: manual trigger"
    # If is a linked to a MR marked as "Draft"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^Draft/
      variables:
        RUN_TESTS: true
        RUN_LINT: false
        RUN_FORMAT: false
        RUN_BUILD: false
        PIPELINE_NAME: "${PACKAGE_NAME}: ${CI_MERGE_REQUEST_TITLE}"
    # If is a linked to a MR (marked as not "Draft")
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        RUN_TESTS: true
        RUN_LINT: true
        RUN_FORMAT: true
        RUN_BUILD: false
        PIPELINE_NAME: "${PACKAGE_NAME}: ${CI_MERGE_REQUEST_TITLE}"
    - if: $CI_COMMIT_TAG
      variables:
        RUN_TESTS: true
        RUN_LINT: true
        RUN_FORMAT: true
        RUN_BUILD: false
        PIPELINE_NAME: "${PACKAGE_NAME}: release $CI_COMMIT_TAG"

######################################################## Docker ########################################################

docker-build:
  image: docker:latest
  stage: docker-build
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - >
      if [ "${DOCKER_TAG_LATEST}" == "true" ]; then
        docker buildx build --push --tag ${DOCKER_IMAGE_NAME}:latest --tag ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG} .
      else
        docker buildx build --push --tag ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG} .
      fi
  rules:
    # Tag pushed, tag a new docker image
    - if: $CI_COMMIT_TAG
      variables:
        DOCKER_IMAGE_TAG: $CI_COMMIT_TAG
        DOCKER_TAG_LATEST: "true"
    # If changes of the file Dockerfile are pushed to the default branch
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - Dockerfile
      variables:
        DOCKER_IMAGE_TAG: $(date +'%Y-%m-%d')
        DOCKER_TAG_LATEST: "true"
    # If changes of the file Dockerfile are pushed to an intermediate branch
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        - Dockerfile
      variables:
        DOCKER_IMAGE_TAG: dev-${CI_MERGE_REQUEST_IID}
        DOCKER_TAG_LATEST: "false"

######################################################### Lint #########################################################

.lint:
  image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
  allow_failure: true
  stage: lint
  variables:
    JSON_REPORT_DIR: ${CI_PROJECT_DIR}/reports
  before_script:
    - mkdir -p ${JSON_REPORT_DIR}
  rules:
    - if: $RUN_LINT == "true"

pylint:
  extends: .lint
  variables:
    PYLINT_JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-pylint-report.json
  script:
    - pylint --rcfile=${CONFIG_FILE} --load-plugins=pylint_gitlab --output-format=gitlab-codeclimate --score=y ${PACKAGE_NAME} > ${PYLINT_JSON_REPORT}
  artifacts:
    when: always
    paths:
      - ${PYLINT_JSON_REPORT}
    expire_in: 1 hour

mypy:
  extends: .lint
  variables:
    MYPY_TMP_FILE: mypy-output-tmp.txt
    MYPY_JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-mypy-report.json
  script:
    - mypy --config-file ${CONFIG_FILE} --package ${PACKAGE_NAME} > ${MYPY_TMP_FILE}
  after_script:
    - mypy-gitlab-code-quality < ${MYPY_TMP_FILE} > ${MYPY_JSON_REPORT}
  artifacts:
    when: always
    paths:
      - ${MYPY_JSON_REPORT}
    expire_in: 1 hour

analysis-merger:
  extends: .lint
  allow_failure: false
  needs:
    - pylint
    - mypy
  variables:
    JSON_REPORT: ${JSON_REPORT_DIR}/gl-codequality-report.json
    JSON_REPORT_TMP: gl-codequality-report-tmp.json
  before_script:
    - touch ${JSON_REPORT}
    - touch ${JSON_REPORT_TMP}
  script:
    - |+
      for json in ${JSON_REPORT_DIR}/*.json
      do
        jq -c '.[]' ${json} >> ${JSON_REPORT_TMP}
      done
    - jq -s '.' ${JSON_REPORT_TMP} > ${JSON_REPORT}
  artifacts:
    when: always
    reports:
      codequality:
        - ${JSON_REPORT}

######################################################## Format ########################################################

.format:
  image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
  allow_failure: false
  stage: formatting
  rules:
    - if: $RUN_FORMAT == "true"

black:
  extends: .format
  script:
    - black --verbose --config ${CONFIG_FILE} --check ${PACKAGE_NAME}

isort:
  extends: .format
  script:
    - isort --settings-path ${CONFIG_FILE} --verbose --check ${PACKAGE_NAME}

######################################################### Test #########################################################

pytest:
  image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
  stage: unit-test
  rules:
    - if: $RUN_TESTS == "true"
  script:
    - pytest --config-file=pyproject.toml --junitxml=report.xml
  coverage: /TOTAL.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    reports:
      junit: report.xml
      coverage_report:
        coverage_format: cobertura
        path: reports/coverage/coverage.xml

######################################################### Build ########################################################

package:
  image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
  stage: build
  rules:
    - if: $RUN_BUILD == "true"
  script:
    - python -m build --outdir ${PACKAGE_PATH}
  artifacts:
    expire_in: "7 days"
    paths:
      - ${PACKAGE_PATH}

###################################################### Integration #####################################################

execution:
  image: ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
  stage: integration-test
  needs:
    - package
  rules:
    - if: $RUN_TESTS == "true" && $RUN_BUILD == "true"
  before_script:
    - pip install ${PACKAGE_PATH}-*.whl
  script:
    - COMMAND_LINE=$(echo "${PACKAGE_NAME}" | tr '_' '-')
    - ${COMMAND_LINE} --version
    - ${COMMAND_LINE} --help
